.colourPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colourSelect {
  margin-bottom: 1rem;
}

.navLink {
  margin-bottom: 1rem;
}
