.homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-select {
  margin-bottom: 1rem;
}

.nav-link {
  margin-bottom: 1rem;
}
